h1 {
  color: tomato;
}

.tpadding {
	padding-top: 10px;
}

.lpadding {
	padding-left: 28px;
}

.mpadding{
	padding-top: 26px;
}

.analytics-info{
	background-color: #E8F6F3;
	padding: 12px;
	border-radius: 15px;

}

lserif {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

sserif {
	font-family: Verdana, sans-serif;
	font-size: 16px !important;
}

sserif {
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

a span 
{
    display: block;
}